 
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="#">Joshua Cunningham</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
	      <a class="nav-link" href="#Home"><img src="./assets/img/home.png" style="height: 20px; width: 20px; filter: invert(100%);" /> Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#Resume"><img src="./assets/img/link.png" style="height: 20px; width: 20px; filter: invert(80%);" /> Resume</a>
      </li>
      <li class="nav-item dropdown">
	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Projects
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Project 1</a>
          <a class="dropdown-item" href="#">Project 2</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://github.com/jdc316">GitHub</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
	<li class="nav-item active">
		<a class="nav-link" href="#"><img src="./assets/img/person.png" style="height: 20px; width: 20px; filter: invert(100%);" /> Login</a>
	</li>
    </ul>

  </div>
</nav>
	
<h1>{{title}}</h1>
  <app-home></app-home>



